In [46]:
import pandas as pd
data = pd.read_csv("dataset_telemetry.csv")

In [47]:
data

,Unnamed: 0,userid,sessionid,timestamp,action,value,category,age,gender,city
0,0,user_10000,1,2021-12-30T12:28:45,category,0.000000,Товары для детей,42,Ж,Красноярск
1,1,user_10000,1,2021-12-30T12:29:10,search,0.000000,Товары для детей,42,Ж,Красноярск
2,2,user_10000,1,2021-12-30T12:29:25,product,0.000000,Товары для детей,42,Ж,Красноярск
3,3,user_10000,1,2021-12-30T12:29:26,search,0.000000,Товары для детей,42,Ж,Красноярск
4,4,user_10000,1,2021-12-30T12:29:34,search,0.000000,Товары для детей,42,Ж,Красноярск
...,...,...,...,...,...,...,...,...,...,...
7510517,7510517,user_12499,561,2025-01-02T05:16:56,cart,8318.131221,Авто/мото товары,12,М,Уфа
7510518,7510518,user_12499,561,2025-01-02T05:17:03,category,0.000000,Авто/мото товары,12,М,Уфа
7510519,7510519,user_12499,561,2025-01-02T05:17:23,product,0.000000,Электроника и бытовая техника,12,М,Уфа
7510520,7510520,user_12499,561,2025-01-02T05:17:48,category,0.000000,Электроника и бытовая техника,12,М,Уфа
7510521,7510521,user_12499,561,2025-01-02T05:17:57,search,0.000000,Электроника и бытовая техника,12,М,Уфа

In [48]:
data = data.drop_duplicates(subset=["timestamp", "userid"]) # Удалим повторяющиеся значения
data = data.drop(columns="Unnamed: 0") # Удалим лишний столбец
data["timestamp"] = pd.to_datetime(data["timestamp"]) # Переделаем время в тип datetime

In [49]:
data

,userid,sessionid,timestamp,action,value,category,age,gender,city
0,user_10000,1,2021-12-30 12:28:45,category,0.000000,Товары для детей,42,Ж,Красноярск
1,user_10000,1,2021-12-30 12:29:10,search,0.000000,Товары для детей,42,Ж,Красноярск
2,user_10000,1,2021-12-30 12:29:25,product,0.000000,Товары для детей,42,Ж,Красноярск
3,user_10000,1,2021-12-30 12:29:26,search,0.000000,Товары для детей,42,Ж,Красноярск
4,user_10000,1,2021-12-30 12:29:34,search,0.000000,Товары для детей,42,Ж,Красноярск
...,...,...,...,...,...,...,...,...,...
7510517,user_12499,561,2025-01-02 05:16:56,cart,8318.131221,Авто/мото товары,12,М,Уфа
7510518,user_12499,561,2025-01-02 05:17:03,category,0.000000,Авто/мото товары,12,М,Уфа
7510519,user_12499,561,2025-01-02 05:17:23,product,0.000000,Электроника и бытовая техника,12,М,Уфа
7510520,user_12499,561,2025-01-02 05:17:48,category,0.000000,Электроника и бытовая техника,12,М,Уфа
7510521,user_12499,561,2025-01-02 05:17:57,search,0.000000,Электроника и бытовая техника,12,М,Уфа

In [50]:
gender = {"М": True, "Ж": False} 
data["gender"] = data["gender"].map(gender) # Заменим строки пола на bool значения (занимают меньше памяти)

In [51]:
data

,userid,sessionid,timestamp,action,value,category,age,gender,city
0,user_10000,1,2021-12-30 12:28:45,category,0.000000,Товары для детей,42,False,Красноярск
1,user_10000,1,2021-12-30 12:29:10,search,0.000000,Товары для детей,42,False,Красноярск
2,user_10000,1,2021-12-30 12:29:25,product,0.000000,Товары для детей,42,False,Красноярск
3,user_10000,1,2021-12-30 12:29:26,search,0.000000,Товары для детей,42,False,Красноярск
4,user_10000,1,2021-12-30 12:29:34,search,0.000000,Товары для детей,42,False,Красноярск
...,...,...,...,...,...,...,...,...,...
7510517,user_12499,561,2025-01-02 05:16:56,cart,8318.131221,Авто/мото товары,12,True,Уфа
7510518,user_12499,561,2025-01-02 05:17:03,category,0.000000,Авто/мото товары,12,True,Уфа
7510519,user_12499,561,2025-01-02 05:17:23,product,0.000000,Электроника и бытовая техника,12,True,Уфа
7510520,user_12499,561,2025-01-02 05:17:48,category,0.000000,Электроника и бытовая техника,12,True,Уфа
7510521,user_12499,561,2025-01-02 05:17:57,search,0.000000,Электроника и бытовая техника,12,True,Уфа

In [52]:
data.describe()

          sessionid                      timestamp         value           age
count  7.454792e+06                        7454792  7.454792e+06  7.454792e+06
mean   2.805528e+02  2023-07-02 11:49:09.519024128  2.066608e+03  3.598371e+01
min    1.000000e+00            2021-12-26 21:00:28  0.000000e+00  7.000000e+00
25%    1.410000e+02  2022-09-29 20:25:25.750000128  0.000000e+00  2.100000e+01
50%    2.810000e+02            2023-07-02 17:03:27  0.000000e+00  3.400000e+01
75%    4.200000e+02            2024-04-03 03:43:34  0.000000e+00  4.800000e+01
max    5.860000e+02            2025-01-03 20:59:30  2.116800e+05  8.100000e+01
std    1.617834e+02                            NaN  7.408731e+03  1.826144e+01

In [53]:
data_confirmation = data[data["action"] == "confirmation"]
data_confirmation

,userid,sessionid,timestamp,action,value,category,age,gender,city
57,user_10000,8,2022-01-10 12:44:36,confirmation,11150.0,NaN,42,False,Красноярск
110,user_10000,19,2022-01-31 12:57:51,confirmation,8860.0,NaN,42,False,Красноярск
216,user_10000,38,2022-03-08 13:23:28,confirmation,5890.0,NaN,42,False,Красноярск
244,user_10000,42,2022-03-15 13:29:44,confirmation,3390.0,NaN,42,False,Красноярск
309,user_10000,58,2022-04-19 13:47:11,confirmation,1690.0,NaN,42,False,Красноярск
...,...,...,...,...,...,...,...,...,...
7509979,user_12499,449,2024-05-19 03:03:25,confirmation,2870.0,NaN,12,True,Уфа
7510153,user_12499,486,2024-07-30 03:47:15,confirmation,1420.0,NaN,12,True,Уфа
7510223,user_12499,499,2024-08-31 04:04:23,confirmation,5055.0,NaN,12,True,Уфа
7510288,user_12499,511,2024-09-21 04:20:58,confirmation,3170.0,NaN,12,True,Уфа
7510501,user_12499,557,2024-12-25 05:13:48,confirmation,3440.0,NaN,12,True,Уфа

Подсчёт общего объёма продажи

In [61]:
income_per_year = data_confirmation.drop(columns=["userid", "sessionid", "action", "category", "age", "gender", "city"])
income_per_year.set_index("timestamp", inplace=True)
income_per_year = income_per_year.resample("YE").sum()

In [62]:
income_per_year["value"].apply(lambda x: f'{x / 1e6:.2f}M')

timestamp
2021-12-31      2.86M
2022-12-31    218.69M
2023-12-31    218.11M
2024-12-31    219.15M
2025-12-31      1.88M
Freq: YE-DEC, Name: value, dtype: object

Конверсия

In [ ]:
len(data_confirmation["userid"].unique()) / len(data["userid"].unique()) * 100

100.0

Средний чек

In [73]:
data_confirmation["value"].sum() / len(data_confirmation)

6913.34094352653

In [37]:
data.to_csv("dataset_telemetry_1_0_0.csv", index=False)